body{
  background-color: #2E2A2A;
  font-family: "Constantine";
  overflow: scroll;
}
.fox1{
  position: absolute;
  width: 822.38px;
  height: 561.33px;
  top: 215px;
}
.spider1{
  position: absolute;
  width: 845px;
  height: 413.12px;
  left: 1600px;
  top: 855px;
}
.star1{
  position: absolute;
  width: 334px;
  height: 334px;
  left: 1710px;
  top: 1535px;

}
.cloud1 {
  position: absolute;
  width: 488.68px;
  height: 568.16px;
  left: 1470px;
  top: 2593.62px;
}
#starttext1{
  position: absolute;
  text-align: center;
  color: #EC8C2F;
  font-size: 64px;
  line-height: 77px;
  font-weight: 400;
  width: 337px;
  height: 77px;
  left: 355px;
  top: 234px;
}
#starttext2{
  position: absolute;
  text-align: center;
  color: #EC8C2F;
  font-size: 64px;
  line-height: 77px;
  font-weight: 400;
  width: 538px;
  height: 154px;
  left: 376px;
  top: 997;
}
#starttext3{
  position: absolute;
  text-align: center;
  color: #EC8C2F;
  line-height: 77px;
  font-size: 64px;
  font-weight: 400;
  width: 754px;
  height: 231px;
  left: 287px;
  top: 1608px;
}
#starttext4{
  position: absolute;
  text-align: center;
  color: #EC8C2F;
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  width: 754px;
  height: 231px;
  left: 287px;
  top: 1608px;

}
